/*I went with red because Nintendo's color is red */
body {background-color: red;
	}

main {
	width: 70%;
	margin: 0 auto;
}

header {
	text-align: center;
}

section {
	clear: both;
}

/*Finally understand how the float works.*/
article {
	float: right;
	width: 70%;
}

aside {
	float: left;
	width: 20%;
}

h1 {
	font-family: Copperplate;
	font-weight: bold;
	font-size: 48px;
}

h2 {
	font-family: Copperplate;
	font-size: 36px;
}

h3 {
	font-family: Times New Roman;
	font-size: 20px;
}

p {
	font-family: American Typewriter;
	font-size: 18px;
	vertical-align: top;
	padding: 0 20px;
}

footer {
	text-align: center;
}